body {
  background-color: #eee;
}

.side-nav {
  background-color: $nav-main-background;
  color: $nav-main-color;
  height: 100%;
  top: 0;
  width: 250px;
  position: fixed;
}

.top-nav {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  height: 50px;
  top: 0;
  left: 250px;
  position: fixed;
  width: calc(100% - 250px);
  z-index: 999;
  border-bottom: solid #eee 1px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: calc(100% - 270px);
  margin: 10px;
  position: relative;
  left: 250px;
  top: 60px;
}
