body {
  background-color: #eee
}

.side-nav {
  background-color: $nav-main-background;
  color: $nav-main-color;
  height: 100%;
  position: fixed;
  width: 250px;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background-color: #fff;
  height: 50px;
  left: 250px;
  position: fixed;
  width: calc(100% - 250px);
}

.container {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  position: relative;
  left: 250px;
  top: 60px;
  max-width: calc(100% - 270px);
  margin: 10px;
}
