@media (max-width: 700px) {
  .icon-wrapper {
    display: none;
  }

  .side-nav {
    animation: fadeIn ease 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .top-nav {
    animation: fullWidth ease 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 100%;
    justify-content: flex-start;
    background: $nav-main-background;
    .logo-top-nav {
      display: block;
    }
  }

  .container {
    animation: fullWidth ease 0.45s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: calc(100% - 20px);
  }

  @keyframes fadeIn {
    0% {
      opacity: 1;
    }

    25% {
      left: -100px;
    }

    50% {
      opacity: 0.5;
      left: -200px;
    }
    75% {
      opacity: 0.1;
      left: -300px;
    }
    100% {
      opacity: 0;
      left: -400px;
    }
  }

  @keyframes fadeOut {
    0% {
      left: -400px;
      opacity: 0.1;
    }

    50% {
      left: -200px;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes fullWidth {
    20% {
      left: 200px;
    }

    50% {
      left: 100px;
    }

    100% {
      left: 0;
    }
  }
}
