/* Colors */
$brand-main-color: #F58220;

$nav-main-color: #979797;
$nav-main-background: #181818;
$nav-hover-color: #F5F5F2;
$nav-hover-background: #292929;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
// $logo-font:
