.general {
  width: 100%;
  margin: auto;
}

.data-amount {
  text-align: right;
}

.dates {
  padding: 30px;
  border-bottom: solid $nav-main-color 1px;
}

.amount {
  justify-content: center;
  text-align: left;
}

.data {
  border-bottom: solid grey 1px;
  padding: 5px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  color: $nav-main-color;
  font-size: $paragraph-font-size;
}

.amount > div:first-child {
  margin-right: 60px;
}

input[type=text] {
  height: 20px;
  padding: 5px 0 5px 20px;
  width: 120px;
  border: none;
  &:first-child {
    border-right: solid $nav-main-color 1px;
  }
}

.chart-title {
  justify-content: flex-start;
  color: $nav-main-color;
  font-size: $paragraph-font-size;
  font-weight: 800;
  margin-top: 40px;
  margin-left: 10%;
}

.calender {
  border: solid $nav-main-color 1px;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    border: solid $nav-main-background 1px;
  }
}

