.form-field {
  padding: 4px;
  margin: 10px auto;
  color: $nav-main-color;
  font-weight: 600;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.form {
  display: block;
}

#personal-data .row {
  border-bottom: solid $nav-main-color 1px;

  &:last-child {
    border-bottom: none;
  }
}
