.logo {
  padding: 10px;
}

.nav-links {
  list-style-type: none;
  padding-inline-start: 0px;
}

.nav-link {
    padding: 12px;
    margin: 5px 0;
    position: relative;
    &:hover {
      color: $nav-hover-color;
      background: $nav-hover-background;
    }
  }

  .svg-nav {
    height: 20px;
    width: 20px;
    margin-right: 20px;
  }
