.top-nav > div {
  border-left: solid blue 1px;
  padding: 0 8px;
}

.svg-top-nav {
  height: 20px;
  width: 20px;
}

.price {
  padding: 0 10px;
}

.exit {
width: 30px;
}

.account img {
  border-radius: 50%;
  border: 2px solid $nav-main-color;
}
